*.user
*.userprefs
*.suo
/Jayrock/bin
/Jayrock/src/Jayrock.Json/obj
/Jayrock/src/Jayrock/obj
/KeePassRPC/bin
/KeePassRPC/obj
*.opensdf
/KeePassRPCTest/obj
/KeePassRPCTest/bin
/TestResults
/UpgradeLog.XML
*.sdf
*.bak
*.orig
/temp
/local
.vs
Jayrock.Json.csproj.FileListAbsolute.txt
