<?xml version="1.0" encoding="utf-8"?>
<NCoverExplorer xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <CoverageExclusions>
    <CoverageExclusion>
      <ExclusionType>Class</ExclusionType>
      <Pattern>*Exception</Pattern>
      <Enabled>true</Enabled>
    </CoverageExclusion>
    <CoverageExclusion>
      <ExclusionType>Namespace</ExclusionType>
      <Pattern>Jayrock.JsonRpc.Web</Pattern>
      <Enabled>true</Enabled>
    </CoverageExclusion>
  </CoverageExclusions>
</NCoverExplorer>